# Open Lab : Pandas & working with real data

Go to : https://www.kaggle.com/rounakbanik/the-movies-dataset 
Download: movies_metadata.csv
Save: Directory associated with Jupyter

Change the directory of jupyter using console. 

In Mac (in terminal): 
jupyter notebook --notebook-dir=/Users/yourname/folder1/folder2/

In Windows: (in Official documentation)
1. Copy the Jupyter Notebook launcher from the menu to the desktop.
2. Right click on the new launcher and change the Target field, change %USERPROFILE% to the full path of the folder which will contain all the notebooks.
3. Double-click on the Jupyter Notebook desktop launcher (icon shows [IPy]) to start the Jupyter Notebook App. The notebook interface will appear in a new browser window or tab. A secondary terminal window (used only for error logging and for shut down) will be also opened.

In [1]:
%pwd 

# Save the csv file here

'/Users/anshuma/Desktop/Columbia'

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_metadata.csv')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:


# Get Column names of the data frame 

print("Columns of the DataFrame:")
print(df.columns)

Columns of the DataFrame:
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
# Get information on the dataset 

result = df.info()
print("Details of the DataFrame:")
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
Details of the DataFrame:
None

In [5]:


# Write a Pandas program to get the details of the thrid movie of the DataFrame (movies_metadata.csv file).
third_movie = df.iloc[2]
print(df.shape)
print("Details of the third moviee:")
third_movie

(45466, 24)
Details of the third moviee:

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

In [13]:
# Create a smaller dataframe
small_df = df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
print("Smaller DataFrame:")
print(small_df.head())
print(type(small_df["revenue"]))

Smaller DataFrame:
                         title release_date    budget      revenue  runtime
0                    Toy Story   1995-10-30  30000000  373554033.0     81.0
1                      Jumanji   1995-12-15  65000000  262797249.0    104.0
2             Grumpier Old Men   1995-12-22         0          0.0    101.0
3            Waiting to Exhale   1995-12-22  16000000   81452156.0    127.0
4  Father of the Bride Part II   1995-02-10         0   76578911.0    106.0
<class 'pandas.core.series.Series'>

In [25]:
# Write a Pandas program to create a smaller dataframe with a condition

x = pd.to_numeric(small_df["revenue"]) # converting to numeric
result = small_df[(x > 20000000)]

print(result.head())

                         title release_date    budget      revenue  runtime
0                    Toy Story   1995-10-30  30000000  373554033.0     81.0
1                      Jumanji   1995-12-15  65000000  262797249.0    104.0
3            Waiting to Exhale   1995-12-22  16000000   81452156.0    127.0
4  Father of the Bride Part II   1995-02-10         0   76578911.0    106.0
5                         Heat   1995-12-15  60000000  187436818.0    170.0

In [6]:
# Write a Pandas program to calculate the number of votes garnered by the 70% movie.

result_votes = df['vote_count'].quantile(0.70)
print(result_votes)

25.0